@font-face {
    font-family: norse-bold;
    src: url(fonts/webfontkit-20250118-095405/norse-bold-webfont.woff);
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.left-side {
    height: 100%;
    width: 33%;
    padding-top: 10%;
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.left-side .odin-logo {
    height: 150px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.509);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'norse-bold', sans-serif;
    font-size: 3rem;
    color: white;
}

.odin-logo img {
    height: 90%;
}

.right-side {
    height: 100%;
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}