@font-face {
    font-family: norse-bold;
    src: url(fonts/webfontkit-20250118-095405/norse-bold-webfont.woff);
}

body > div {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.left-side {
    height: 750px;
    width: 375px;
    display: flex;
    flex-direction: column;
    padding: 300px;
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.left-side-2{
    color: white;
}

.odin-logo {
    height: 75px;
    width: 75px;
}

.left-side-1 {
    width: 375px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}

.left-side-1 > div {
    color: white;
}

.right-side {
    display: flex;
    flex-direction: column;
}